* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: #ced3df;
  text-align: center;
}

#container {
  width: 350px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 9px 8px 14px 0px rgba(133,133,133,1);
  -moz-box-shadow: 9px 8px 14px 0px rgba(133,133,133,1);
  box-shadow: 9px 8px 14px 0px rgba(133,133,133,1);
}

.bg-color {
  background: rgba(237, 193, 211);
  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(219, 192, 216, 1) 35%,
    rgba(127, 188, 242, 1) 100%
  );
}

#title {
  color: white;
  font-size: 24px;
  padding: 10px;
}

#list {
  background-color: #f1f0f7;
  height: 450px;
  overflow: scroll;
}

.list-item {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.under-line {
  width: 90%;
  margin: auto;
  height: 1px;
  background-color: lightgrey;
}

.btn-cursor {
  cursor: pointer;
}
.remove-btn {
  font-size: 18px;
  background: transparent;
}

.remove-btn:hover {
  color: red;
  transform: scale(1.1);
}

#add-item-text {
  display: block;
  width: 100%;
  outline: none;
  height: 30px;
  padding: 0 10px;
  font-size: 18px;
}

#add-item-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  color: white;
  font-size: 45px;
}